---
import Image from "astro/components/Image.astro";
import logo from "../images/logo.png";
import image1 from "../images/slide-1.jpg";
---

<nav>
  <!-- top Navbar -->
  <div
    class="bg-[#212529] text-base text-white flex justify-between items-center px-20 py-4"
  >
    <div class="flex gap-6 items-center">
      <span class="flex items-baseline gap-2 text-sm"
        ><i class="fa-solid fa-phone"></i>+91- 9673525252</span
      >
      <span class="flex items-baseline gap-2 text-sm"
        ><i class="fa-solid fa-envelope"></i>uptimiseit@gmail.com</span
      >
    </div>
    <div class="flex gap-6 items-center">
      <!-- insta -->
      <i class="fa-brands fa-instagram"></i>
      <!-- fb -->
      <i class="fa-brands fa-facebook-f"></i>
      <!-- Twitter -->
      <i class="fa-brands fa-twitter"></i>
    </div>
  </div>
  <!--main navbar  -->

  <div class="flex justify-between text-gray-700 items-center px-20 py-6">
    <a href="/">
      <div class="logo">
        <!-- <h1 class="text-4xl font-semibold font-serif ">Look</h1> -->
        <Image src={logo} alt="Logo Image" class="w-full h-20" />
      </div>
    </a>
  
    <div class="nav-links">
      <ul class="flex gap-10 text-sm font-light items-center uppercase">
        <li class="hover:underline underline-offset-4"><a href="/">Home</a></li>
        <li class="hover:underline underline-offset-4">
          <a href="/about-us">About</a>
        </li>
        <li class="hover:underline underline-offset-4">
          <a href="/services">Service</a>
        </li>
        <li class="hover:underline underline-offset-4">
          <a href="/gallery">Gallery</a>
        </li>
        <li class="hover:underline underline-offset-4">
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
