---
// import { Image } from "astro:assets";
// import image1 from "../../src/assets/slide1.jpg"; // Adjust the path based on your folder structure
---

<div class="container mx-auto px-4 py-10">
  <div class="mb-5 border-b flex flex-col items-start py-5">
    <h1 class="text-3xl font-bold mb-1 text-neutral-800 font-serif italic">Services</h1>
    <!-- <Image src={image1} alt="hello" width={800} height={600} /> Ensure you provide width and height for optimization -->
    <p class="text-base text-neutral-600">
      For more information or to schedule a consultation, please contact us.
    </p>
  </div>

  <div class="flex items-center justify-center gap-5 py-10">
    <div class="w-1/3 h-72 relative bg-neutral-100">
      <div class="absolute right-0 p-4 opacity-60">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="154"
          width="154"
          id="hair-color"
          enable-background="new 0 0 64 64"
          viewBox="0 0 64 64"
        >
          <path
            fill="#58595b"
            d="M53.2925301,7.9328089c0.9000282-0.9899368,0.9500198-2.4398704,0.0999832-3.2998095
            c-0.8500366-0.8699481-2.3101616-0.8399813-3.3102341,0.0700035l-7.9905586,7.1695948
            c-0.5300674,0.4699459-1.2301292,0.7099838-1.8101273,0.6099529l-2.0801659-0.3399477
            c-0.6300507-0.1100407-1.3000793,0.1199884-1.7901039,0.6099529l-0.2300606,0.2299681
            c-5.1103477-3.3098192-11.6608028-2.8398123-14.3110161-2.6398726c-2.3001518,0.1700354-3.9802628,0.8999758-4.990345,2.1699266
            c-0.9300594,1.16992-1.0100822,2.4898558-0.9700403,3.2197971c-3.1402378,3.0298643-2.8602495,6.829648-2.6002216,8.3095484
            l-2.5001783,2.1499081c-0.2000265,0.1499538-0.6300497,0.5399475-0.7700129,1.2199039
            c-0.1300144,0.6799564,0.0600014,1.3899403,0.5900078,2.1198807c0.0900335,0.1199894,0.1300144,0.2100105,0.1500349,0.2599964
            c-0.5400772,0.9599686-0.7200832,1.8999214-0.5500269,2.7898884v0.0099487
            c0.1599846,0.8000031,0.4100027,1.3899384,0.7700138,1.7899399c0.0499907,0.0799522,0.0200205,0.4799538-0.2600288,1.0399208
            c-0.1599846,0.2999725-0.2400074,0.6299744-0.2299967,0.9599724c0.0100107,0.559967,0.1800051,1.6098976,1.1501064,2.4298592
            c1.1100645,0.9399529,2.9201908,1.2299156,5.3703785,0.8599396c0.7000618-0.1099777,1.3300495,0.0700035,1.9401398,0.5399513
            c2.6901951,2.0698929,3.7802372,8.6395454,4.0902576,10.9194527c-0.8300152,0.0899582-1.5200672-0.1500168-1.9801216-0.3899956
            c-0.4500446-0.2499847-1.020092-0.1699715-1.3901138,0.1899948c-0.3800316,0.3599625-0.4900246,0.9299393-0.2600288,1.3999481
            c1.3501339,2.8398094,3.9003029,4.9797096,7.5705471,6.359642C29.3007698,59.5600204,31.8109589,60,34.3911591,60
            c0.9800491,0,1.9701118-0.0700035,2.9701843-0.2000008c7.1805649-0.9299431,11.7308769-2.849823,13.9210358-5.8696785
            c2.0301094-2.8198547,1.4401016-5.9097137,1.0900421-7.7595901c-0.0499916-0.2399788-0.0899734-0.4599953-0.1300163-0.6699448
            c-0.0899696-0.5300026-0.5000343-0.9299431-1.0300407-0.9999466c-0.5400162-0.0599937-1.0500603,0.2299652-1.2701073,0.7399483
            c-0.1499748,0.3599663-0.650013,0.5299416-0.8800697,0.5899963c-1.0300407-0.0600548-1.8400955-0.4300308-2.4701462-1.1199951
            c-1.240078-1.3599129-1.8301468-4.0597801-1.6401329-7.5895576c0.0800247-1.5799294-0.2899971-3.2198563-1.1000519-4.8597221
            c-0.7700768-1.5699215-0.7100754-3.3098183-0.7000618-3.3798218c-0.0100136-1.7899418-0.1600456-3.4498253-0.4200134-4.9897194
            l2.370163-2.3499088c0.4900246-0.4899654,0.7200241-1.16992,0.6200409-1.8099003l-0.3400536-2.0199108
            c-0.0999832-0.5899334,0.1500359-1.2899075,0.6400604-1.8298569L53.2925301,7.9328089z M42.951767,37.0112534
            c-0.1500359,2.8798485,0.0999832,6.7896118,2.1601257,9.0494995c1.020092,1.1099243,2.3602142,1.7098656,3.970314,1.7699242
            h0.0900345l0.0799637-0.0100098c0.109993-0.0100098,0.7000618-0.1100426,1.3000793-0.4499893
            c0.2800484,1.6098976,0.4100647,3.5897713-0.8900185,5.3897247c-1.820137,2.5098114-6.0504799,4.2197418-12.5608902,5.0597229
            c-3.2702522,0.4299698-6.5204849,0.0799522-9.4006958-0.9999466c-2.3801746-0.8999748-4.2003117-2.1298904-5.4303799-3.6898041
            c0.5900078,0.0499878,1.2701111,0.0100098,2.0001431-0.2100105c0.0499916-0.010006,0.0800228-0.0399742,0.1300144-0.0599937
            c0.0100098-0.0100098,0.0200214-0.0100098,0.0399799-0.0100098c0.1400261-0.049984,3.4502583-1.2399216,4.7403278-4.8097343
            c1.1400967-3.1398468,0.3500633-7.0196419-2.330122-11.5193977c-6.5904961-11.039381-5.1604004-15.7491493-5.1503906-15.7791157
            c0.1900158-0.5099812-0.0800228-1.0899677-0.6000175-1.2799587c-0.5200577-0.1899929-1.0901051,0.0800114-1.2801208,0.6000023
            c-0.0800228,0.2099514-1.8701286,5.4596672,5.3103752,17.4890442c2.3502045,3.9397888,3.0902481,7.2295914,2.1801491,9.7795029
            c-0.5300064,1.4698906-1.5400887,2.4198494-2.3401337,2.9798164c-0.4600544-3.179821-1.710144-9.3195-4.7803688-11.6893692
            c-1.0500641-0.7999458-2.2001705-1.1099243-3.4502583-0.9299431c-2.4301662,0.369976-3.4202271-0.100029-3.7902489-0.4100113
            c-0.3500004-0.2999725-0.4300232-0.6799545-0.4300232-0.9498978c0.6700306-1.3199387,0.6600199-2.519886-0.0300312-3.2898636
            c-0.0199604-0.0200157-0.1699953-0.2000008-0.289999-0.83992c-0.0900335-0.4399776,0.0399809-0.9499607,0.3700218-1.5099277
            c0.2299967-0.3899937,0.4900246-1.2099571-0.3200302-2.3298912c-0.2299967-0.3199902-0.2600288-0.5299397-0.2799883-0.5299397
            l2.9902029-2.5798779c0.3500013-0.2900219,0.5000362-0.7599678,0.3900433-1.2099552
            c-0.1700563-0.7099228-0.8800678-4.3697586,2.1901588-7.0895824c0.3100185-0.280014,0.4499817-0.6899662,0.3899803-1.0899687
            c-0.0499916-0.2899618-0.1399632-1.2699509,0.5200577-2.1098709c0.6400585-0.8099537,1.8501072-1.2899694,3.570261-1.4199066
            c2.3801746-0.1700344,8.2005959-0.6000042,12.7009163,2.0898533l-2.2902031,2.2698965l-1.2500877,1.2399235
            c-0.399992,0.3899937-0.399992,1.0199642-0.0099487,1.4199066c0.1899548,0.189991,0.4499836,0.2900219,0.7100105,0.2900219
            c0.2500191,0,0.5100479-0.0900211,0.7000618-0.2900219l1.2500916-1.2299137l0.4200096,0.41996l-1.2500877,1.2299137
            c-0.3900414,0.3899937-0.3999901,1.029974-0.0100098,1.4199657c0.2000275,0.2000027,0.4500427,0.2899628,0.7100716,0.2899628
            s0.5100479-0.0899601,0.7100716-0.2899628l1.2400818-1.2299747l0.4200096,0.4200211l-1.2500877,1.2399235
            c-0.3900414,0.3799839-0.3999901,1.0199642-0.0100098,1.4098969c0.2000275,0.2000027,0.4500427,0.3000336,0.7100716,0.3000336
            s0.5100479-0.1000309,0.7100716-0.2900238l1.2500916-1.2399235l0.4099998,0.41996l-1.2500877,1.2399235
            c-0.3900414,0.3799839-0.4000511,1.0199642-0.0100098,1.4099579c0.2000275,0.2000008,0.4600525,0.2999725,0.7100716,0.2999725
            c0.2600288,0,0.5100479-0.0999718,0.7100105-0.2899628l1.2500916-1.2399235l0.4100609,0.41996l-1.2500877,1.2399235
            c-0.3900414,0.3899937-0.3900414,1.0199642,0,1.4098969c0.1900177,0.2000008,0.4500427,0.3000317,0.7100716,0.3000317
            c0.2500191,0,0.5099869-0.1000309,0.7000008-0.2900219l1.090107-1.0798988
            c0.109993,1.0199032,0.1900139,2.0698357,0.1900139,3.1997795c-0.0100098,0.0900211-0.1000443,2.2598858,0.910038,4.2998161
            C42.7217712,34.4813614,43.0217781,35.7812767,42.951767,37.0112534z M44.5419083,14.5324278
            c-0.910099,0.9899359-1.3301125,2.2999239-1.130085,3.50982l0.2799873,2.0799046l-2.5601807,2.5298309l-4.7603493-4.8097382
            l-1.1200752-1.1299438l2.6301918-2.5898247l2.0701561,0.3399477c1.1900864,0.189992,2.4901657-0.2199593,3.4802284-1.1099253
            l7.9906197-7.1695957c0.2299957-0.2000012,0.4800148-0.2100105,0.5500259-0.1500163
            c0.0600052,0.0700035,0.0499916,0.3299994-0.1600456,0.5500193L44.5419083,14.5324278z"
          ></path>
          <path
            fill="#58595b"
            d="M34.7812004,25.2818451c-0.440033-0.5399475-1.3600807-0.5499573-1.7901649,0
            c-1.1500454,1.4299164-3.0801754,4.0597782-3.0801754,5.6997051c0,2.1898823,1.7800941,3.9698162,3.9702549,3.9698162
            c2.190155,0,3.970314-1.7799339,3.970314-3.9698162C37.851429,29.3416233,35.921299,26.7117615,34.7812004,25.2818451z
             M33.881115,32.9514771c-1.0800972,0-1.9701138-0.8799591-1.9701138-1.9699268c0-0.5799866,0.8000469-2.009901,1.9701138-3.5897713
            c1.170063,1.5798702,1.9701691,3.0097847,1.9701691,3.5897713C35.851284,32.0715179,34.9712181,32.9514771,33.881115,32.9514771z"
          ></path>
        </svg>
      </div>

      <div class="absolute bottom-0 p-5">
        <p>COLOR Rs. 100</p>
        <p>CUT Rs. 200 and up</p>
        <h1 class="text-lg font-semibold">
          Hair <i class="fa-solid fa-chevron-right"></i>
        </h1>
      </div>
    </div>

    <div class="w-1/3 h-72 relative bg-neutral-100">
      <div class="absolute right-0 p-6 opacity-60">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="100"
          height="100"
          viewBox="0 0 64 64"
          id="hair-dryer"
        >
          <path
            d="M44.43148,10.96721,26.554,8.16956A13.94311,13.94311,0,0,0,7.162,10.18424c-5.67432,6.59515-3.38826,17.61318,4.5637,21.31383l4.20074,15.65216a5.30744,5.30744,0,0,0,5.61551,3.88485c1.39626,3.16368,2.73065,4.96268,4.06792,5.45171a1.70889,1.70889,0,0,0,1.29806.0215c2.58681-1.09835,4.5522-.962,4.35824,1.25417a1.00054,1.00054,0,0,0,1.98648.23925,4.03882,4.03882,0,0,0-1.31223-3.47349c-1.22771-.9385-3.1047-.92286-5.65.07621-.22363-.08519-1.24628-.65813-2.81658-4.138a5.31361,5.31361,0,0,0,2.67633-6.07548L22.82685,32.02931a13.72685,13.72685,0,0,0,3.05853-1.62655l18.54707-2.91153a1.00042,1.00042,0,0,0,.84519-.98833V11.95553A1,1,0,0,0,44.43148,10.96721ZM6.21807,21.42058C4.00911,10.45024,16.95967,2.69547,25.502,9.88279a1.91887,1.91887,0,0,0,.49088.22408L40.25736,12.339V26.121L25.3558,28.4605C18.21657,33.64848,8.05092,30.28046,6.21807,21.42058ZM17.5849,45.61,14.04338,32.41465a13.9204,13.9204,0,0,0,6.86825.19939L23.859,43.57635Zm6.30478,1.80554a3.29974,3.29974,0,0,1-5.63571.08019l6.0663-1.97275A3.27274,3.27274,0,0,1,23.88968,47.41551ZM43.27656,25.647l-1.01813.15982V12.65213l1.01813.15933Z"
          ></path>
          <path
            d="M19.82011 19.28369c-.19493-6.12815-9.0812-6.12717-9.275.0001C10.73982 25.41229 19.62609 25.41041 19.82011 19.28369zm-7.27393 0a2.63659 2.63659 0 015.27285.00008A2.63659 2.63659 0 0112.54618 19.28369zM47.72915 16.542c3.04685 1.90118 6.28742.68613 9.083-.76808.90845-.68109 3.27887-.8016 2.81606-2.32233-.767-1.51366-2.64628.19354-3.69643.52491-2.52381 1.23666-4.70271 2.30511-7.18647.84192A1.00061 1.00061 0 0047.72915 16.542zM59.96033 20.15965c-.72321-1.63362-3.06018.30372-4.15459.64714-2.49351 1.21861-4.64408 2.27142-7.09169.83315a1.00144 1.00144 0 00-1.36987.35566c-.84058 1.79638 2.831 2.34275 3.792 2.34215 3.03827-.015 5.48848-1.95395 8.20566-2.90545A1.00066 1.00066 0 0059.96033 20.15965z"
          ></path>
        </svg>
      </div>

      <div class="absolute bottom-0 p-5">
        <p>MANICURE . 45 and up</p>
        <p>THREADING Rs. 50 and up</p>
        <p>PEDICURE Rs. 65 and up</p>
        <h1 class="text-lg font-semibold">
          Nails <i class="fa-solid fa-chevron-right"></i>
        </h1>
      </div>
    </div>

    <div class="w-1/3 h-72 relative bg-neutral-100">
      <div class="absolute right-0 p-6 opacity-50">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="100"
          height="100"
          enable-background="new 0 0 100 100"
          viewBox="0 0 100 100"
          id="hair-comb"
        >
          <path
            fill="none"
            stroke="#000"
            stroke-linejoin="round"
            stroke-miterlimit="10"
            stroke-width="3"
            d="M70.396,6.156
          c-1.54-1.541-4.037-1.541-5.578,0L44.671,26.302L25.932,45.042L6.156,64.819c-1.541,1.54-1.541,4.037,0,5.577l22.787,22.788
          l0.793,0.793c1.363,1.365,3.577,1.364,4.942,0c1.364-1.364,1.363-3.577,0-4.941l-0.794-0.794L16.356,70.714
          c-1.365-1.365-1.364-3.576,0-4.941c1.365-1.364,3.577-1.365,4.942,0l17.527,17.528l0.793,0.793c1.365,1.365,3.577,1.365,4.942,0
          c1.365-1.365,1.365-3.577,0-4.942l-0.793-0.793L26.24,60.831c-1.365-1.365-1.365-3.576,0-4.941c1.365-1.365,3.577-1.365,4.941,0
          l17.528,17.528l0.792,0.792c1.259,1.259,3.234,1.341,4.604,0.277c0.103-0.066,0.212-0.15,0.339-0.277
          c1.364-1.364,1.364-3.578,0-4.942l-0.793-0.793l0,0L36.123,50.947c-0.683-0.682-1.023-1.576-1.023-2.47
          c0-0.894,0.341-1.788,1.023-2.47c1.365-1.365,3.576-1.365,4.941,0l17.528,17.528l0.792,0.792c1.194,1.195,3.037,1.344,4.394,0.448
          c0.194-0.128,0.378-0.277,0.548-0.448c0.17-0.17,0.32-0.354,0.448-0.548c0.896-1.356,0.747-3.2-0.448-4.393l-0.792-0.793
          L46.007,41.064c-1.365-1.365-1.365-3.577,0-4.941c0.682-0.682,1.576-1.023,2.47-1.023c0.894,0,1.788,0.341,2.471,1.023
          l17.528,17.528l0,0l0.793,0.793c1.364,1.364,3.578,1.364,4.942,0c0.129-0.13,0.219-0.246,0.289-0.354
          c1.051-1.371,0.965-3.334-0.289-4.589l-0.792-0.792L55.89,31.181c-1.365-1.364-1.365-3.576,0-4.941s3.577-1.365,4.941,0
          l17.528,17.528l0.792,0.792c1.365,1.365,3.577,1.365,4.942,0s1.365-3.577,0-4.941L83.3,38.826L65.773,21.298
          c-1.365-1.365-1.364-3.577,0-4.942c1.365-1.364,3.576-1.365,4.941,0l17.528,17.528l0.794,0.793c1.364,1.364,3.577,1.364,4.94,0
          c1.365-1.365,1.366-3.578,0.001-4.941l-0.793-0.793L70.396,6.156z"
          ></path>
        </svg>
      </div>

      <div class="absolute bottom-0 p-5">
        <p>MAKE-UP Rs. 200 and up</p>
        <p>EYE MAKE-UP Rs. 75 and up</p>
        <p>LASHES Rs. 50 and up</p>
        <p>THREADING Rs. 40 and up</p>
        <p>EYEBROW SHAPING Rs. 50 and up</p>
        <p>TINTING Rs. 50 and up</p>
        <h1 class="text-lg font-semibold">
          MakeUp <i class="fa-solid fa-chevron-right"></i>
        </h1>
      </div>
    </div>
  </div>
</div>

<!-- 
---
// ServiceCards.astro
const services = [
  {
    id: 1,
    category: "Hair",
    services: [
      { name: "COLOR", price: "Rs100" },
      { name: "CUT", price: "Rs200 and up" },
    ]
  },
  {
    id: 2,
    category: "Nails",
    services: [
      { name: "MANICURE", price: "Rs45 and up" },
      { name: "PEDICURE", price: "Rs65 and up" },
      { name: "THREADING", price: "Rs50 and up" },
    ]
  },
  {
    id: 3,
    category: "Mackup",
    services: [
      { name: "MAKE-UP", price: "Rs200 and up" },
      { name: "EYE MAKE-UP", price: "Rs75 and up" },
      { name: "LASHES", price: "Rs50 and up" },
      { name: "THREADING", price: "Rs40 and up" },
      { name: "EYEBROW SHAPING", price: "Rs50 and up" },
      { name: "TINTING", price: "Rs50 and up" },
    ]
  }
];
---

<div class="container mx-auto p-8">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
    {services.map((service) => (
      <div class="bg-neutral-50 rounded-lg shadow-sm hover:bg-neutral-100 transition-colors duration-300">
        {/* Icon Container */}
        <div class="flex justify-end p-4 border-b">
          {service.id === 1 && (
            <svg class="w-24 h-24 text-neutral-300" viewBox="0 0 85.11 122.88">
              <path fill-rule="evenodd" d="M61.44,48c13.27-16.35-2-46.13-18.93-45.74-24.82-8.38-38.78,8-41.82,27C-1.45,42.57,1,59.09,13.61,66.31,17.85,72,22,75.76,26.07,78c4.84,2.65,9.46,3.06,13.73,1.74a18.37,18.37,0,0,0,3.6-1.57c-.74,18.94,4.58,33.93,21.44,37.92-3.16-3.38-3.47-7.71-2.23-12,1.91-6.55,5.55-8.32,7.66-12.8A20.72,20.72,0,0,0,72,83.18C71.6,74.69,65.41,66,58.22,58.53A73.12,73.12,0,0,0,61.41,48.4l0-.24V48Z"/>
            </svg>
          )}
          {service.id === 2 && (
            <svg class="w-24 h-24 text-neutral-300" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
              <path d="M20 7.5v9l-5 5H9l-5-5v-9L9 3h6l5 4.5z" />
            </svg>
          )}
          {service.id === 3 && (
            <svg class="w-24 h-24 text-neutral-300" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
              <circle cx="12" cy="12" r="10" />
              <path d="M8 14s1.5 2 4 2 4-2 4-2" />
              <line x1="9" y1="9" x2="9.01" y2="9" />
              <line x1="15" y1="9" x2="15.01" y2="9" />
            </svg>
          )}
        </div>

        {/* Service List */}
        <div class="p-6">
          <h3 class="text-xl font-semibold mb-4 flex items-center gap-2">
            {service.category}
            <span class="text-neutral-400">›</span>
          </h3>
          
          <div class="space-y-2">
            {service.services.map((item) => (
              <div class="flex justify-between items-center text-sm">
                <span class="text-neutral-600">{item.name}</span>
                <span class="text-neutral-600">{item.price}</span>
              </div>
            ))}
          </div>
        </div>
      </div>
    ))}
  </div>
</div>

<style>
  /* Add any additional custom styles here */
  .container {
    max-width: 1200px;
  }
</style> -->
